.wrapper-card-events{
    float: left;
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 408px;
    margin: 10px 1%;
    cursor: pointer;
}

.img-cards-events{
    width: 100%;
    object-fit: cover;
}

.wrapper-detail-eventsCard{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 5px;
    padding: 8px 19px 14px;
    background-color: white;
}

.title{
    font-size: 13px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
}

.location{
    font-size: 11px;
    color: black;
    text-transform: uppercase;
}

.date{
    font-size: 11px;
    color: black;
    text-transform: uppercase;
}

.price-events-cards{
    font-size: 14px;
    font-weight: bold;
    margin-top: auto;
    color: black;
    text-transform: uppercase;
}


@media screen and (max-width: 1080px) {
    .wrapper-card-events{
        height: 338px;
    }
}


@media screen and (max-width: 760px) {
    .wrapper-card-events{
        width: 31.33%;
        margin: 10px 1%;
    }
}


@media screen and (max-width: 506px) {
    .wrapper-card-events{
        width: 48%;
        height: 308px;
        margin: 10px 1%;
    }

    .title{
        font-size: 12px;
    }

    .location{
        font-size: 9px;
    }

    .date{
        font-size: 9px;
    }

    .price-events-cards{
        font-size: 12px;
    }
}


@media screen and (max-width: 400px) {
    .wrapper-card-events{
        height: 283px;
    }
}

