.card{
    width: 370px;
    height: 419px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 11.5px 13px;
    border-radius: 24px;
    background-color: #eceaea;
    float: left;
}

.img-card{
    width: 100%;
}

.container-detail{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 16px;
}

.detail-card{
    height: 24px;
    display: flex;
    gap: 4px;
    align-items: center;
}

.detail-card p{
    font-size: 10px;
    color: black;
}

.title{
    font-size: 24px;
    font-weight: 800;
    color: black;
    margin-top: 5px;
}

.subtitle{
    font-size: 15px;
    font-style: italic;
    color: black;
    padding: 5px 0;
}

.price{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: auto;
}

.price p{
    font-size: 12px;
    color: black;
}

.idr{
    font-size: 12px;
    color: black;
    font-weight: 700;
}


@media screen and (max-width: 1080px) {
    .card{
        float: left;
        margin: 10px;
    }
}