@font-face {
    font-family: asap;
    src: url('./assets/fonts/Asap-Regular.ttf');
    font-family: acme;
    src: url('./assets/fonts/Acme-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: asap;
}


.body{
    width: 100%;
    height: 1000px;
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: 0;
}

.body::-webkit-scrollbar{
  display: none;
}

