@font-face {
    font-family: asap;
    src: url('./assets/fonts/Asap-VariableFont_wdth\,wght.ttf');
    font-family: acme;
    src: url('./assets/fonts/Acme-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: asap;
}


.body{
    width: 100%;
    height: 100vh;
    display: flex;
}

.background-start{
    background-image: url('./assets/images/background-start.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    border: 1px solid white;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.header-login{
    font-family: acme;
    font-size: 96px;
    color: white;
    text-align: center;
}

.sub-header-login{
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    color: #ce164d;
    margin-bottom: 40px;
}

.container-optionalform{
    display: flex;
    width: 100%;
    margin-bottom: 40px;
}

.option-form{
    width: 50%;
    height: 28px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    line-height: 28px;
    border-radius: 7px;
    color: black;
}

.optionform-active{
    background-color: #636366;
    color: white;
}

.form-message{
    text-align: center;
    color: white;
}

.container-field{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

input{
    width: 100%;
    height: 44px;
    border-radius: 8px;
    font-size: 17px;
    border: none;
    padding: 0px 10px;
    color: white;
    background-color: rgba(28, 28, 30, 0.7);
}

input:focus{
    outline: none;
}

.controls{
    position: relative;
}

.icon-form{
    width: 27px;
    position: absolute;
    right: 14px;
    top: 8px;
    cursor: pointer;
}

.button-login{
    width: 40%;
    height: 35px;
    border-radius: 8px;
    font-size: 17px;
    outline: none;
    border: none;
    margin: auto;
    background-color: #FC1055;
    color: black;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.button-login:hover{
    translate: 0px -5px;
}